<div class="container" style="height: 100vh;">
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="col-md-5">
            <div class="card mb-3">
                <div class="card-header text-white text-center bg-primary">
                    Formulario de Registro
                </div>
                <!-- Formulario de Registro -->
                <form class="card-body" #f="ngForm" (ngSubmit)="onSubmit(f)">
                    <!-- Control del Nombre -->
                    <div class="form-group">
                        <label>Nombre Completo</label>
                        <input type="text" class="form-control" name="nombre" [(ngModel)]="user.nombre" required />
                    </div>

                    <!-- Control del Email -->
                    <div class="form-group mt-2">
                        <label>Email</label>
                        <input type="email" class="form-control" name="email" [(ngModel)]="user.email" required />
                    </div>

                    <div class="form-row">
                        <!-- Control de la Fecha Nacimiento -->
                        <div class="col">
                            <label>Fecha Nac.</label>
                            <input type="date" class="form-control" name="fechaNac" [(ngModel)]="user.fechaNac" required />
                        </div>
                        <!-- Control del Telefóno -->
                        <div class="col">
                            <label>Teléfono</label>
                            <input type="tel" class="form-control" name="telefono" [(ngModel)]="user.telefono" required />
                        </div>
                    </div>

                    <!-- Control del Sexo -->
                    <div class="form-group mt-3">
                        <label>Sexo</label>
                        <div class="radio" *ngFor="let genero of generos">
                            <label>
                <input
                  type="radio"
                  name="sexo"
                  [(ngModel)]="user.sexo"
                  [value]="genero.value"
                />
                {{ genero.display }}
              </label>
                        </div>
                    </div>

                    <!-- Control del Botón -->
                    <div class="form-group">
                        <button class="form-control btn btn-primary" type="submit">
              Registrarme
            </button>
                    </div>

                    <div class="text-right">
                        <a routerLink="/login">Iniciar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>